# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Logs
*.log

# Arquivos de sistema
.DS_Store
Thumbs.db

# Configurações locais (opcional)
appsettings.Development.json

# Rider / VS Code (se usar)
.idea/
.vscode/

# Banco local (se usar arquivo)
*.mdf
*.ldf